<!-- INCLUDE overall_header.html -->
<br />
<!-- INCLUDE blocks/blocks_header_left.html --><span style="float:left;">{L_CALENDAR}</span><span style="float:right;">{L_CALENDAR_MONTH}</span><!-- INCLUDE blocks/blocks_header_right.html --> 
<ul class="block_data">
<li>
<dl>
<dt></dt>
<dd class="whos_online">

<table width="100%" cellpadding="2" cellspacing="5" border="0">
	<tr>
		<td align="left"><a href="{U_PREV_MONTH}" class="gen"><img src="{T_IMAGESET_PATH}/arrowleftmonth.gif"></a></td>
		<td align="center">{L_CALENDAR_MONTH}</td>
		<td align="right"><a href="{U_NEXT_MONTH}" class="gen"><img src="{T_IMAGESET_PATH}/arrowrightmonth.gif"></a></td>
	</tr>
	<tr>
		<td align="center" colspan="3">
			<table width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr class="calendar">
					<td class="bg1" align="center" width="14%"><b>{L_SUN}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_MON}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_TUE}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_WED}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_THU}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_FRI}</b></td>
					<td class="bg1" align="center" width="14%"><b>{L_SAT}</b></td>
				</tr>
				</table>
				
				<table class="calendar" width="100%" cellpadding="0" cellspacing="0" border="0">
				<!-- BEGIN calendar_week -->
				<tr>
					<td class="bg1" align="center">
						<table class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY0 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY0}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
									<td THIS_DAYRAP valign="top" class="bg1">
										{calendar_week.DAY0_EVENTS}
									</td>
								</tr>
						</table>
					</td>
					<td class="bg1" align="center">
						<table class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY1 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY1}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td THIS_DAYRAP valign="top" class="bg1">
									{calendar_week.DAY1_EVENTS}
								</td>
							</tr>
						</table>
					</td>
					<td class="bg1" align="center">
						<table class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY2 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY2}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td THIS_DAYRAP valign="top" class="bg1">
									{calendar_week.DAY2_EVENTS}
								</td>
							</tr>
						</table>
					</td>
					<td class="bg1" align="center">
						<table  class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY3 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY3}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td THIS_DAYRAP valign="top" class="bg1">
									{calendar_week.DAY3_EVENTS}
								</td>
							</tr>
						</table>
					</td>
					<td class="bg1" align="center">
						<table class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY4 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY4}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td THIS_DAYRAP valign="top" class="bg1">
									{calendar_week.DAY4_EVENTS}
								</td>
							</tr>
						</table>
					</td>
					<td class="bg1" align="center">
						<table class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY5 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY5}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td THIS_DAYRAP valign="top" class="bg1">
									{calendar_week.DAY5_EVENTS}
								</td>
							</tr>
						</table>
					</td>															
					<td class="bg1" align="center">
						<table  class="calendar" border="0" cellspacing="0" cellpadding="0" width="100%">
							<tr>
								<td height="15" class="row3">
									<!-- IF calendar_week.DAY6 == THIS_DAY --><span class="cal_today"><!-- ENDIF -->
									{calendar_week.DAY6}
									<!-- IF THIS_DAY --></span><!-- ENDIF -->
								</td>
							</tr>
							<tr>
								<td valign="top" class="bg1">
									{calendar_week.DAY6_EVENTS}
								</td>
							</tr>
						</table>
					</td>					
				</tr>
				<!-- END calendar_week -->
			</table>
		</td>
	</tr>
	<!-- IF S_NEW_EVENT -->
	<tr>
		<td colspan="3"><div class="buttons"><div class="event_new-icon"><a href="calendar_post.php" title="{L_CALENDAR_ADD_EVENT}"><span></span>{L_CALENDAR_ADD_EVENT}</a></div></div></td>
	</tr>
	<!-- ENDIF -->
</table>

</dd>
</dl>
</li></ul>
<!-- INCLUDE blocks/blocks_footer.html -->
<!-- INCLUDE overall_footer.html -->