/* CSS for IE */
 
.icon_r {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_s {
    padding: 4px 0px 5px 0px;
}

.icon_profile {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_aim {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_email {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_icq {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_jabber {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_msnm {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_pm {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_www {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_yim {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_mcp {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_edit {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_fwd {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_print {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_quote {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_reply {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_offline {
     padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_online {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.icon_search {
    padding: 1px 0px 0px 0px;
    vertical-align:middle;
}

.bbuttonl {
    padding: 0px 0px 0px 0px;
    vertical-align:middle;
}

.bbutton {
    padding: 5px 0px 6px 0px;
}

.bbuttonrbs {
    padding: 0px 0px 0px 0px;
    vertical-align:middle;
}

.bbuttonrd {
    padding: 0px 0px 0px 0px;
    vertical-align:middle;
}

.bbuttonru {
    padding: 0px 0px 0px 0px;
    vertical-align:middle;
}

.bbuttonrl {
    padding: 0px 0px 0px 0px;
    vertical-align:middle;
}