<table class="tablebg" width="100%" cellspacing="0" cellpadding="0" style="margin-top: 5px; background-color: transparent;">
  <tr>
    <td class="bo_bc">
			<p class="breadcrumbs"><a href="{U_PORTAL}">{L_HOME}</a> &#187; <a href="{U_INDEX}">{L_INDEX}</a><!-- BEGIN navlinks --> &#187; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a><!-- END navlinks --><!-- BEGIN dl_nav --> &#187; <a href="{dl_nav.U_DOWNLOAD}">{dl_nav.L_DOWNLOAD}</a><!-- END dl_nav --></p>
			<span class="topsearch">
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
				<form action="{U_SEARCH}" method="post" id="search">
				<input name="keywords" id="keywords" type="text" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search" value="<!-- IF SEARCH_WORDS-->{SEARCH_WORDS}<!-- ELSE -->{L_SEARCH_MINI}<!-- ENDIF -->" onclick="if(this.value=='{LA_SEARCH_MINI}')this.value='';" onblur="if(this.value=='')this.value='{LA_SEARCH_MINI}';" /> 
				<input class="searchbutton" value="{L_GO}" type="submit" /><br />
				</form>
		<!-- ENDIF -->
            </span>
	</td>
  </tr>
		<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
  <tr>
    <td align="right" style="padding-right: 40px;">
<a href="{U_SEARCH}" title="{L_SEARCH_ADV_EXPLAIN}">{L_SEARCH_ADV}</a> {S_SEARCH_HIDDEN_FIELDS}
	</td>
  </tr>
		<!-- ENDIF -->
</table>