<!-- INCLUDE overall_header.html -->

<br />

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>

	<form action="{S_CONFIRM_ACTION}" method="post" name="confirm_broken_dl">
	
	<fieldset>

		<h2 class="solo">{MESSAGE_TITLE}</h2>

		<dl>
			<dt class="lastpost"><b>{MESSAGE_TEXT}</b></dt>
		</dl>
		<dl>
			<dd class="lastpost"><img src="{CONFIRM_CODE}" border="0" alt="" title="" /></dd>
		</dl>
		<dl>
			<dd class="lastpost"><input type="text" class="inputbox autowidth" size="5" maxlength="5" value="" name="code" /></dd>
		</dl>
		<dl>
			<dd class="lastpost"><input type="submit" name="submit" value="{L_SUBMIT}" class="button2" /></dd>
		</dl>

	</fieldset>

	{S_HIDDEN_FIELDS}
	
	</form>

	<span class="corners-bottom"><span></span></span></div>
</div>

<br />

<!-- INCLUDE overall_footer.html -->
